---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="font-sans text-2xl text-orange lg:text-4xl">Values</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
  </div>
  <div class="font-monospace text-xl text-black dark:text-white">
    <ul>
      <li>
        <span class="font-sans text-orange"><strong> Compassion:</strong></span>
        When we view the world with a compassionate lens, the story becomes less
        about the what and the why and more about the human within that. We are all
        born from the elements of this world and none of us come out of it unscathed.
        The more compassion we show to one another the more capacity we have for
        acceptance and growth.<br /><br />
      </li>
      <li>
        <span class="font-sans text-orange"><strong> Curiosity:</strong></span> My
        sense of curiosity has led me where I am today, on a journey of discovery
        to learn. I believe that curiosity helps drive positive change, especially
        when done with intention. Without this, I would not be on this path.<br
        /><br />
      </li>
      <li>
        <span class="font-sans text-orange"
          ><strong> Dependability:</strong></span
        > It is of the utmost importance that my clients can depend on me. I will
        always be honest, respectful and do my best.<br />
        <br />
      </li>
      <li>
        <span class="font-sans text-orange"
          ><strong> Transparency:</strong></span
        > I want my clients to feel safe and respected within my care, knowing that
        what they are seeing is what they get. <br />
        <br />
      </li>
    </ul>
  </div>
  <div class="w-full text-justify text-black dark:text-white lg:w-1/2"></div>
</section>
