<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
			href="https://github.com/veranikabarel"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Veranika Kasparevych</span>
		</a> and <a
		href="https://github.com/tom271"
		target="_blank"
		rel="noopener"
	>
		<span class="text-orange"> Tom Hodgson</span>
	</p>
</footer>
